* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #e6c779;
}
.topFondo img {
  margin: 25px;
}

.topFondo {
  width: 100%;
  height: 200px;
  left: 0px;
  top: 0px;
  background: #daa520;
}

.topFondo .button {
  float: right;
}

.button {
  padding-top: 150px;
}

.button li {
  display: inline;
}

.button li a {
  font-family: Arial;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;
  color: #fff;
}
.button li a:hover {
  color: #fbcf00;
}
.blogout {
  float: right;
  font-weight: bold;
  color: #e02621;
  position: absolute;
  font-size: 24px;
  border: none;
  cursor: pointer;
  background: none;
  margin-top: 30px;
  margin-left: 1225px;
}
.blogout:hover {
  text-decoration: underline;
}
.footer {
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #332f2c;
  color: white;
  text-align: center;
}
