<div style="background:#E6C779;">
	<div class="topFondo">
    	<button class="blogout" (click)="onLogout()">Log out</button>
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/La_Paz_Bus_logo.svg/1019px-La_Paz_Bus_logo.svg.png" height="150px" width="150px">

		<div class="button">
			<li><a routerLinkActive="active"
           routerLink="nyc">Noticias y Comunicados</a></li>
			<li><a routerLinkActive="active"
           routerLink="rutas">Rutas</a></li>
			<li class="end"><a routerLinkActive="active"
           routerLink="sobrelpb">Sobre La Paz Bus</a></li>
		</div>
	</div>
<router-outlet></router-outlet>
</div>
<div class="footer">
  <p>@2020 L2N.org</p>
</div>