	<h1 style="margin-left:10%;margin-top:50px;color:white;">ÚLTIMOS COMUNICADOS</h1>

	<button class="bnuevo">+ Nuevo</button>
	<div class="content">
		<div class="post">
           <button class="beditar">Editar</button>



			<p class="date">18 de junio, 2018</p>
 
			<p>El Servicio de Transporte Municipal comunica a los usuarios de la ruta Chasquipampa que debido al cierre
				de vías, por trabajo de poda de árboles para evitar accidentes en la Avenida José María Aguirre Achá,
				entre las calles 3 y 7 de Los Pinos desde el lunes 18 hasta el viernes 22 de junio, de 8:30 a 17:00 ,
				los buses en ese horario circularán la siguiente ruta alterna:
				<br><br>
PUC – Chasquipampa
Ruta normal hasta la calle 15 de Calacoto para luego iniciar ruta alterna por la Avenida Costanera hasta la calle 28 de Cota Cota y ruta normal hasta la calle 63 de Chasquipampa.
				<br><br>
Paradas Provisionales: Sobre la Avenida costanera esquina calle 21 de Calacoto pasando el semáforo, sobre la Avenida Costanera antes de ingresar al puente hacia Auquisamana .
				<br><br>
Chasquipampa – PUC
Ruta normal hasta la parada calle 28 de Cota Cota para iniciar tuta alterna por la Avenida Costera hasta la calle 15 de Calacoto y ruta normal.
				<br><br>
Paradas provisionales: Sobre la Avenida Costanera altura Hipermax y sobre la Avenida Costanera esquina calle 21 de Calacoto.
				<br><br>
Agradecemos su comprensión.</p>
		</div>
		<div class="post">
       <button class="beditar">Editar</button>
			<p class="date">29 de marzo, 2018</p>
     
			<p>El Servicio de Transporte Municipal comunica a los usuarios de las rutas Chasquipampa, Irpavi II, Inca
				Llojeta y Villa Salomé que debido a la afluencia de fieles a la visita de iglesias este Jueves Santo, a
				partir de las 18:00, los buses van a girar alrededor del Teatro al Aire Libre e ingresarán a la Estación
				de Transferencia de La Paz BUS por la calle Wenceslao Argandoña.
				<br><br>
Caja Ferroviaria en caso de afluencia de persona en la Avenida  América y cercanías de Plaza Alonso de Mendoza, los buses tomarán como última parada La Estación de Teleférico Rojo.
				<br><br>
Agradecemos su comprensión.</p>
		</div>
	</div>