* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.topFondo img {
  margin: 25px;
}

.topFondo {
  width: 100%;
  height: 200px;
  left: 0px;
  top: 0px;
  background: #daa520;
}

.topFondo .button {
  float: right;
}

.button {
  padding-top: 150px;
}

.button li {
  display: inline;
  border-right: 2px solid #fff;
}

.button li.end {
  border: 0;
}

.button li a {
  font-family: Arial;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;
  color: #fff;
}
.button li a:hover {
  color: #fbcf00;
}

.btn1 {
  margin-left: 220px;
  width: 400px;
  height: 70px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  padding: 20px;
  font-size: 28px;
  text-align: center;
  background-color: #e4bc53;
  text-decoration: none;
}

.btn2 {
  margin-left: 90px;
  width: 400px;
  height: 70px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  padding: 20px;
  font-size: 28px;
  text-align: center;
  background-color: #e4bc53;
  text-decoration: none;
}

.button2 a:hover {
  background-color: #c79924;
}

.content {
  width: 100%;
  padding-bottom: 50px;
}
.content .post {
  width: 80%;
  height: auto;
  margin-top: 50px;
  margin-left: 10%;
  background-color: #fff;
}

.content .post .date {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  background-color: #e02621;
  padding: 20px;
}

.content .post p {
  text-align: justify;
  text-justify: inter-word;
  color: #554b4b;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 20px;
}
.footer {
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #332f2c;
  color: white;
  text-align: center;
}
.bnuevo {
  float: right;
  font-weight: bold;
  color: #e02621;
  position: absolute;
  font-size: 30px;
  border: none;
  cursor: pointer;
  background: none;
  margin-top: 1px;
  margin-left: 1050px;
}
.bnuevo:hover {
  text-decoration: underline;
}
.beditar {
  float: right;
  font-weight: bold;
  color: #e02621;
  position: absolute;
  font-size: 30px;
  border: none;
  cursor: pointer;
  background: none;
margin-top: 70px;
  margin-left: 960px;
}
.beditar:hover {
  text-decoration: underline;
}