<div class="horarios">

	<img src="https://www.flaticon.es/svg/static/icons/svg/2154/2154743.svg" height="300" width="300">


	<table>
		<tr>
			<th> <img src="https://www.flaticon.es/svg/static/icons/svg/2972/2972528.svg" width="50px" height="50px"></th>
			<th>Tabla de Horarios </th>
		</tr>

		<tr>
			<th>Horario</th>
			<th> Frecuencia </th>

		</tr>

		<tr>
			<td>7:00 - 9:00</td>
			<td> Cada 10 minutos </td>


		</tr>

		<tr>
			<td>9:00 - 11:00</td>
			<td> Cada 10 minutos </td>

		</tr>

		<tr>
			<td>11:00 - 13:00 </td>
			<td> Cada 5 minutos </td>

		</tr>
		<tr>
			<td>13:00 - 15:00</td>
			<td> Cada 10 minutos </td>

		</tr>

		<tr>
			<td>15:00 - 17:00</td>
			<td> Cada 5 minutos </td>

		</tr>

		<tr>
			<td>17:00 - 19:00</td>
			<td> Cada 5 minutos </td>

		</tr>

		<tr>
			<td>19:00 - 21:00</td>
			<td> Cada 5 minutos </td>

		</tr>

		<tr>
			<td>21:00 - 23:00</td>
			<td> Cada 30 minutos </td>

		</tr>

		<tr>
			<td>23:00 - 00:00</td>
			<td> Cada 30 minutos </td>

		</tr>
	</table>

</div>

<div class="editar">
	<a class="btn4" href="URL">Editar</a>

</div>