
<div class="dyo" >
	<h1 style="margin-left:50px; margin-top:10px;color:#E02621;">TUS DERECHOS</h1>

	<div class="content" >
    <a class="titulo">1. Derecho a la información.</a> Obtener por los medios de comunicación y difusión pertinentes, información y orientación precisa e idónea respecto de la forma de uso, composición, frecuencias, tarifas, servicios adicionales, riesgos que puedan derivarse de la utilización del servicio, así como de los mecanismos de protección de sus derechos y la forma de ejercerlos. 
    <p></p>
    <a class="titulo">2. Derecho a un servicio digno.</a> <a>Recibir el servicio en condiciones de dignidad, calidad, frecuencia e idoneidad óptimas para su uso.</a>
    <p></p>
    <a class="titulo">3. No discriminación.</a> <a>Acceder a los servicios de transporte en condiciones no discriminatorias.</a>
    <p></p>
    <a class="titulo">4. Respeto.</a> <a>Recibir trato respetuoso y digno.</a>
    <p></p>
    <a class="titulo">5. Seguridad.</a> <a>Exigir cumplimiento de normas de seguridad.</a>
    <p></p>
    <a class="titulo">6. Ruta.</a> <a>Ser transportado respetando la ruta establecida.</a>
    <p></p>
    <a class="titulo">7. Eficiencia.</a> <a>Tener servicio eficiente y confiable, en condiciones de comodidad, limpieza, higiene, seguridad y respeto.</a>
    <p></p>
    <a class="titulo">8. Hacer conocer su disconformidad.</a> <a>Reclamar por cambios de frecuencias, horarios y rutas. En casos de cancelación por causa del operador, los usuarios deben recibir devolución de sus pasajes.</a>
    <p></p>
    <a class="titulo">9. No sobrepasar capacidad de pasajeros.</a> <a>Que el número de pasajeros transportados por cada bus no exceda la capacidad de carga/pasajeros establecida en los protocolos y especificaciones técnicas del fabricante.</a>
    <p></p>
    <a class="titulo">10. Acceso de personas con discapacidad.</a> <a>Que el bus contemple una adecuada infraestructura que favorezca el ingreso de personas con discapacidad al bus</a>
	</div>
  <h1 style="margin-left:50px; margin-top:40px;color:#FBCF00;">TUS OBLIGACIONES</h1>
  <div class="content" >
    <a class="titulo2">1. Cuidado.</a> Cuidar sus artículos personales dentro del bus.
    <p></p>
    <a class="titulo2">2. Dignidad.</a> Mantener respeto a la dignidad de los servidores públicos municipales que prestan el servicio.
    <p></p>
    <a class="titulo2">3. Uso adecuado del bus.</a> Dar uso adecuado y razonable al servicio que brinda el bus, de acuerdo con su naturaleza y características, en caso de daño se procederá a realizar la denuncia ante la autoridad competente.
    <p></p>
    <a class="titulo2">4. Limpieza.</a> Mantener limpio el bus, evitando ingerir alimentos o bebidas de cualquier naturaleza al interior del mismo.
    <p></p>
    <a class="titulo2">5. Basura.</a> Evitar echar basura al exterior de los vehículos en el trayecto.
    <p></p>
    <a class="titulo2">6. Buena fe.</a> Obrar de buena fe frente al operador del servicio y frente a las autoridades públicas con cuando realice sus reclamaciones y quejas.
    <p></p>
    <a class="titulo2">7. Obstaculizar.</a> No obstaculizar el cierre de las puertas.
    <p></p>
    <a class="titulo2">8. Buenas costumbres.</a> Mantener las buenas costumbres y guardar una conducta apropiada que no vaya contra su seguridad e integridad y la de los demás usuarios.
    <p></p>
    <a class="titulo2">9. Instrucciones.</a> Respetar y acatar las instrucciones emitidas por las autoridades competentes que se encuentran en el bus y paradas.

  </div>

</div>

						