<table>
        <tr>
            <th> <img src="https://www.flaticon.es/svg/static/icons/svg/3084/3084418.svg" width="50px" height="50px"></th>
            <th>Usuario Regular</th> 
        </tr>

        <tr>
            <th>Diurno</th>
            <th> Bs </th>
            <th> Nocturno</th>
        </tr>

        <tr>
            <td>Efectivo</td>
            <td> 1.50 </td>
            <td> 3.00</td>

        </tr>

        <tr>
            <td>Tarjeta</td>
            <td> 1.50 </td>
            <td> 3.00</td>
        </tr>

    </table>

    <div class="editar">
    <a class="btn4" href="URL"> Editar </a>
    </div>



    <table>
        <tr>
            <th> <img src="https://www.flaticon.es/svg/static/icons/svg/3084/3084424.svg" width="50px" height="50px"></th>
            <th>Usuario Preferencial</th>
        
            
        </tr>

        <tr>
            <th>Diurno</th>
            <th> Bs </th>
            <th> Nocturno</th>
        </tr>

        <tr>
            <td>Efectivo</td>
            <td> 1.50 </td>
            <td> 3.00</td>

        </tr>

        <tr>
            <td>Tarjeta</td>
            <td> 1.50 </td>
            <td> 3.00</td>

        </tr>

    </table>
    <div class="editar">
    <a class="btn5" href="URL"> Editar </a>
    </div>

    
    <table>
        <tr>
            <th> <img src="https://www.flaticon.es/svg/static/icons/svg/2620/2620135.svg" width="50px" height="50px"></th>
            <th>Usuario Universitario</th>
        
            
        </tr>

        <tr>
            <th>Diurno</th>
            <th> Bs </th>
            <th> Nocturno</th>
        </tr>

        <tr>
            <td>Efectivo</td>
            <td> 1.50 </td>
            <td> 3.00</td>

        </tr>

        <tr>
            <td>Tarjeta</td>
            <td> 1.50 </td>
            <td> 3.00</td>

        </tr>

    </table>

    <div class="editar">
    <a class="btn6" href="URL"> Editar </a>
    </div>